.background {
  height: calc(100vh - 87px);
  background-image: url('../public/img/intro-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 87px;
}

.intro {
  max-width: 1160px;
  margin: 0 auto;
  height: 100%;
  padding: 0 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro__title {
  color: #32c18c;
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 5px;
  text-shadow: 0px 0px 15px #000;
}

.intro__text {
  color: #fff;
  font-size: 1.2rem;
  padding: 7px 0;
  max-width: 640px;
  text-shadow: 0px 0px 5px #000;
}

@media (max-width: 575px) {
  .intro {
    padding: 0 20px;
  }
  .intro__title {
    font-size: 2rem;
  }
  .intro__text {
    font-size: 1.1rem;
  }
}