.background {
  background-color: #de18bf;
  padding-top: 40px;
}

.repo {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1160px;
  margin: 0 auto;
  padding: 25px 40px 40px;
  text-align: center;
}

.repo__link {
  color: #fff;
  border: 1px solid #fff;
  padding: 8px 10px;
  border-radius: 14px;
  margin-top: 20px;
}
.repo__link--external {
  width: 12px;
  display: inline-block;
  padding-left: 7px;
}